services:
  jekyll:
    image: jekyll/jekyll:latest
    container_name: blog
    privileged: true
    volumes:
      - .:/srv/jekyll
    ports:
      - "4000:4000"
    command: sh -c "gem install webrick && jekyll serve"
